/* Css Reset Property */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{ 
		margin:0; 
		padding:0; 
		border:0; 
		outline:0; 
		vertical-align:baseline; 
		background:transparent; 
}
ol,ul{ 
		list-style:none; 
}
blockquote,q{ 
		quotes:none; 
}
blockquote:before,blockquote:after,q:before,q:after{ 
		content:''; 
		content:none; 
}
:focus{ 
		outline:0; 
}
ins{ 
		text-decoration:none; 
}
del{ 
		text-decoration:line-through; 
}
table{ 
		border-collapse:collapse; 
		border-spacing:0; 
}
 
body{ 
		color:#444444; 
		font:12px Arial, Verdana,Georgia, Georgia, Lucida,"Trebuchet MS" ,Helvetica, sans-serif;
		padding:25px 0;
		margin:0;
		line-height:18px;
		background:#779e8f; 
}
h1, h2, h3, h4, h5, h6{
	color:#397373; 
}
.hide{
     	position: absolute;
     	left: -9999px;
}
.a{
	color:#e59501;
	text-decoration:none;
}
.a:hover{
	color:#e59501;
}
 
/*     Wrap 
==================================================================*/
#wrap{
	width:1000px;
	margin:0 auto;
}


/*   Navigation
=================================================================*/
#navPnlBg{
	background:url(../images/nav_bg.jpg) repeat-x;
	width:1000px;
	height:51px;
}
#navPnlRgt{
	background:url(../images/nav_bg_rgt.jpg) no-repeat top right;
	width:1000px;
	height:51px;
}
#navPnlCont{
	background:url(../images/nav_bg_lft.jpg) no-repeat;
	width:1000px;
	height:51px; 
}

#access { 
	display: block;
	float: left;
	margin: 0 auto;
	width:860px;
}
#access .menu{
	font-size:14px; 
	width:860px;
}
#access .menu ul{
	list-style: none;
	margin: 0; 
}
#access .menu li{
	float: left;
	position: relative;
	background:url(../images/nav_divider.jpg) no-repeat left;
	height:51px;
}
#access .menu li:first-child{
	background:none;
}
#access .menu li.firstNav{ 
	background:none;
}
#access li a{
	color:#704a00; 
	display:block;
	line-height:51px;
	padding:0 32px; 
	text-decoration: none;	
}
#access li .homeBtn strong{
	font-weight:normal;
}
#access li .homeBtn:hover{
	color:#704a00; 
	display:block;
	line-height:51px;
	font-weight:normal!important;
	padding:0!important; 
	text-decoration: none!important;	
}
#access ul ul{
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top:51px;
	left:0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 180px;
	height:auto!important;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background:#859c8b;
	color: #fff;
	line-height:1em;
	padding:10px;
	width:160px;
	height: auto;
}
#access li:hover > a{
	background:#859c8b url(../images/nav_bg.jpg) repeat-x 0 -51px;
	color: #fff;
	line-height:51px;
	display:block;
	line-height:51px;
	padding:0 32px; 
	text-decoration: none;
}
#access .current_page_item a{
	background:#859c8b url(../images/nav_bg.jpg) repeat-x 0 -51px;
	color: #fff; 
	display:block;
	line-height:51px;
	font-weight:normal!important;
	padding:0!important; 
	text-decoration: none!important;	
}
#access .current_page_item a strong{
	background:url(../images/nav_bg_lft.jpg) no-repeat 0 -51px;
	display:block;
	line-height:51px;
	padding:0 32px; 
	text-decoration:none;
	font-weight:normal;
}
#access li:hover > a strong{
	background:url(../images/nav_bg_lft.jpg) no-repeat 0 -51px;
	display:block;
	line-height:51px;
	padding:0 32px; 
	text-decoration:none;
	font-weight:normal;
}
#access ul ul :hover > a {
	background:#859c8b;
	color:#ffffff;
	line-height:1em;
	padding:10px; 
	height: auto;
	display:block;
	text-decoration: none;
}
#access ul li:hover > ul {
	display: block;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color:#ffffff; 
}
 
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #ffffff;
}


#languageSelector{
	width:140px;
	float:right;
}
#languageSelector form{
	width:122px;
	padding-top:16px;
}
#languageSelector form select{
	width:116px;
	padding:1px;
	border:1px solid #a47823;
}




/*    Banner 
======================================================================*/
#banner{
	background:url(../images/bannar_bg.jpg) no-repeat;
	width:998px;
	height:235px;
	border-left:1px solid #2e604d;
	border-right:1px solid #2e604d;
	overflow:hidden;
	float:left;
}
#banner h1{
	width:998px; 
}
#banner h1 a{
	width:319px;
	height:115px;
	display:block;
	margin:65px 0 0 30px; 
}
.signUpBtn{
	width:300px;
	height:50px;
	display:block;
	text-decoration:underline;
	color:#779e8f;
	font-size:24px;
	font-weight:bold;
	text-align:center;
	line-height:0px;
	margin:18px 0 0 375px; 
}
.signUpBtn:hover{ 
	color:#e59501; 
}





/*    Container 
======================================================================*/
#container{ 
	width:962px;
	background:#ffffff;
	padding:0 18px 18px 18px;
	border-left:1px solid #2e604d;
	border-right:1px solid #2e604d;
	border-bottom:1px solid #397373;
	overflow:hidden;
	float:left;
}

#content{
	width:690px;
	float:right;
}
#content h2{ 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#397373;
	font-weight:normal; 
	margin-bottom:20px;
}


/*
General Content CSS
----------------------------------*/ 
.entry-content{ 
	clear: both;
} 
.algnleft{
	padding:3px 15px 0 0;
}
.entry-content h3{
	font-size:14px;
	padding-bottom:3px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#81ac01!important;
	border-bottom:1px solid #81ac01;
	margin-bottom:10px;
}
.seperate-Line{
	display:block;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom:15px;
}
#content p a{
	color:#e59501;
	text-decoration:none;
}
img.alignleft{
	padding:0 10px 5px 0;
}
img.alignright{
	padding:0 0 5px 10px;
}
#content ul,
#content ol{
	margin-left:20px;
	margin-bottom:20px; 
}
#content ul li,
#content ul ul li{
	margin-bottom: 0;
	background:url(../images/content_list_icon.jpg) no-repeat 0 6px;
	padding-left:12px;
	padding-bottom:5px;
}
#content ol li{
	margin-left:20px;
	padding-left:12px;
	padding-bottom:5px;
	list-style-type:decimal;
}
#content ol ol li{
	margin-left:20px;
	padding-left:12px;
	padding-bottom:5px;
	list-style-type:lower-alpha;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #397373;
	line-height: 1.5em; 
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}

/*---------------------------*/



.welcomeMsg{
	background:url(../images/welcome_picture.jpg) no-repeat center right; 
	border:0px solid #d9e0cd;
	width:470px;
	padding:45px 220px 0 0;
	height:230px;
}
.welcomeTxt{
	background:url(../images/welcome_txt.jpg) no-repeat top left;
	width:370px;
	padding-bottom:35px;
	
}
.welcomeMsg p{
	text-align:justify;
}
.rdmore{
	text-align:right!important;
}
.rdmore a{
	color:#444;
	text-decoration:none;
}
.rdmore a:hover{
	color:#e59501;
	text-decoration:none;
}
.galleryPnl{
	background:url(../images/gallery_title_bg.jpg) no-repeat top;
	width:675px;
	padding:10px 0 0 15px;
	margin-top:20px;
}
.pckgeTitle{
	background:url(../images/gallery_icon.png) no-repeat;
	height:31px;
	line-height:31px;
	width:630px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#397373;
	font-weight:normal;
	padding-left:45px;
	margin-bottom:20px;
}
.galleryThumbs{
	width:675px;
	overflow:hidden;
}
.galleryThumbs dd{
	width:315px;
	float:left;
	padding:10px 22px 10px 0;
	overflow:hidden;
}
.imagePlace{
	width:128px;
	float:left;
	overflow:hidden;
	position:relative;
}
.imagePlace img{
	width:128px;
	height:115px;
}
.imagePlace span{
	background:url(../images/image_cover.png) no-repeat;
	width:128px;
	height:115px;
	position:absolute;
}
.textPlace{
	width:175px;
	float:right;
}
.textPlace strong{
	display:block;
	color:#397373;
}
.textPlace p{
	padding-top:5px;
	line-height:14px;
}
.textPlace p a{
	color:#e6b55b;
	text-decoration:none;
}
.textPlace p a:hover{
	color:#e6b55b;
	text-decoration:underline;
}


.innerPage{
	margin-top:20px;
}


#sidebar{
	width:252px;
	float:left;
}
.sideBox{
	background:url(../images/sm_box_bg.jpg) repeat-y;
	width:252px;
	margin-top:20px;
}
.sideBoxTop{
	background:url(../images/sm_box_top.jpg) no-repeat;
}
.sideBoxCont{
	background:url(../images/sm_box_btm.jpg) no-repeat bottom left;
	width:252px;
	padding-bottom:15px;
}
#sidebar h3{
	width:195px;
	background:url(../images/sidebar_hdr_itle_icon2.jpg) no-repeat;
	padding-left:57px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#397373;
	height:68px;
	line-height:68px;
	font-weight:normal;
}
#sidebar .loginIcon{
	background:url(../images/sidebar_hdr_itle_icon1.jpg) no-repeat;
}
.loginFrm{
	width:228px;
	padding:15px 12px 0 12px; 
}
.loginFrm p{
	width:228px;
	overflow:hidden;
	padding:3px 0;
}
.loginFrm p label{
	width:85px;
	float:left;
	text-align:right;
	display:block;
}
.loginFrm p span{
	width:114px;
	float:left;
	text-align:right;
	display:block;
	font-size:11px;
}
.loginFrm p .typeInput{
	width:131px;
	float:right; 
	display:block;
	background:#f1f6e9;
	padding:1px;
	border:1px solid #d9e0cd; 
}
.loginFrm p .forgetTxt{
	width:114px;
	float:right;
	text-align:right;
	display:block;
	font-size:11px;
	text-decoration:underline;
	color:#779e8f;
}
.loginFrm p .forgetTxt:hover{ 
	color:#e59501;
}
.subBotton{
	background:#397373;
	width:85px;
	border:none;
	height:24px;
	color:#ffffff;
	font-size:14px;
	font-weight:bold; 
}
.widgetCont{
	width:228px;
	padding:12px 12px 0 12px;
	overflow:hidden;
}
.widgetCont li{
	background:url(../images/sidebar_list_icon1.jpg) no-repeat 0px 7px;
	padding-left:14px; 
	widows:214px;
	margin:2px 0;
}
.widgetCont li a{
	color:#444444;
	text-decoration:none;
}
.widgetCont li a:hover{
	color:#e59501; 
}



/*    Footer 
======================================================================*/
#footer{
	background:url(../images/ftr_bg.jpg) repeat-y;
	width:1000px;
	float:left;
}
#ftrCont{
	background:url(../images/ftr_btm.jpg) no-repeat bottom;
	padding:35px 20px;
	width:960px;
}
#ftrCont p{
	text-align:center;
	line-height:25px;
	color:#397373;
}
#ftrCont p a{
	color:#397373;
	text-decoration:none;
	padding:0 5px;
}




/*    Registration
=======================================================================*/

.regiForm{
	width:690px;
}
.regiFormTitle1{
	background:url(../images/account_info_icon.jpg) no-repeat;
	width:580px;
	padding:25px 0 15px 80px;
	height:35px;
	border-bottom:1px solid #d9d9d9;
	margin-bottom:30px;
	clear:both;
} 
.regiFormTitle1 h2, .regiFormTitle1 small{
	float:left;
	display:block;
	width:100%;
}
.regiFormTitle2{
	background:url(../images/account_info_icon2.jpg) no-repeat;
	width:580px;
	padding:25px 0 15px 80px;
	height:35px;
	border-bottom:1px solid #d9d9d9;
	margin:30px 0;
}
.eachInptBx{
	width:600px;
	padding:0 30px;
	overflow:hidden; 
}
.labelTxt{
	width:130px;
	float:left;
	text-align:right;
	line-height:35px;
}
.intputPnl{
	width:452px;
	float:right;
}
.intputPnl .typeText{ 
	height:27px;
	padding:6px 2px 0 2px;
	width:250px;
	color:#444;
	background:#f1f6e9; 
	border:1px solid #d9e0cd; 
}
.intputPnl .typeTextArea{
	background:#f1f6e9; 
	border:1px solid #d9e0cd; 
	height:100px;
	padding:6px 2px 0 2px;
	width:350px;
	color:#444;
}
.intputPnl a{
	color:#e59501;
	text-decoration:underline;
}
.intputPnl select{
	background:#f1f6e9; 
	border:1px solid #d9e0cd; 
	height:31px;
	padding:1px;
	width:257px;
	color:#444;
	line-height:31px;
}
.intputPnl .gnSelector{
	background:#f1f6e9; 
	border:1px solid #d9e0cd; 
	height:31px;
	padding:1px;
	width:100px;
	color:#444;
	line-height:31px;
}
.regiSubBtn{
	background:url(../images/sign_up_btn.jpg) no-repeat;
	width:153px;
	height:42px;
	border:none;
	cursor:pointer;
}
.contusSubBtn{
	background:url(../images/message_sub_btn.jpg) no-repeat;
	width:179px;
	height:42px;
	border:none;
	cursor:pointer;
}
.intputPnl select option{
	line-height:31px;
}



/*    Contact Us
=======================================================================*/
.contAddress{
	width:640px;
	padding:25px;
	overflow:hidden;
}
.officeAdd{
	width:300px;
	float:left;
}
.officeGmap{
	width:300px;
	height:250px;
	float:right;
	border:1px solid #2e604d;
}
.officename{
	padding:5px 0 10px 0;
	font-size:18px;
	font-weight:normal;
}
.officeAdd p a{ 
	text-decoration:underline;
	color:#779e8f;
}
.officeAdd p a:hover{ 
	color:#e59501;
}


/*    Member_area
=======================================================================*/

.memberAreaPg{
	/*background:url(images/gallery_title_bg.jpg) no-repeat top;*/
	width:660px;
	padding:0 0 0 20px;
	border-left:10px solid #e2e7ea;
	margin-left:10px;
	margin-top:30px;
}
.h3title_txt{
	font-size:14px!important; 
	color:#e59501!important;
	padding-bottom:10px;
}
/*    Transaction History
=======================================================================*/

.transHisory{
	width:690px;
	overflow:hidden;
}
.transHisory dt{
	background:#e2e7ea;
	height:35px;
	line-height:35px;
	width:690px;
	color:#397373!important;
	font-weight:bold;
	border-bottom:1px solid #c9d4da;
}
.transHisory dd{
	width:690px;
	overflow:hidden; 
	margin-bottom:0!important;
}
.ddFirstBg{
	background:#f7f8f1;
}
.ddSecondBg{
	background:#f2f5f7;
}
.transHisory dt strong{
	width:70px;
	padding-left:15px;
	float:left;
	display:block; 
}
.transHisory dd strong{
	width:70px;
	padding:10px 0 10px 15px;
	float:left;
	display:block;
	font-weight:normal;
}
.transHisory dt cite{
	width:210px;
	padding-left:15px;
	float:left;
	display:block;
	font-style:normal;
}
.transHisory dd cite{
	width:210px;
	padding:10px 0 10px 15px;
	float:left;
	display:block; 
}
.transHisory dt span{
	width:70px;
	padding-left:15px;
	float:left;
	display:block; 
}
.transHisory dd span{
	width:70px;
	padding:10px 0 10px 15px;
	float:left;
	display:block; 
}


/*		Francise Page
==============================================================================*/

#francisePg, #francisePg dt{
	width:690px;
}
#francisePg dt{
	color:#397373!important;
	font-size:16px;
	font-weight:bold;
	float:left;
}

#francisePg dd{
	width:320px;
	/*float:left;*/
	padding:5px 10px;
}
#francisePg dd.left-cell{float:left;}
#francisePg dd.right-cell{float:right;}
.thumbsTop{
	width:320px;
	overflow:hidden;
	padding-bottom:10px;
}
.thumbsTop img{  
	float:left;
	display:block;
	padding-right:7px;
}
.thumbsTop strong{   
	color:#e59501!important;
	font-size:14px; 
	display:block; 
}
#francisePg ul{
	margin-left:0!important;
	margin:0;
}
#francisePg a{
	color:#779e8f;
	text-decoration:underline;
}
#francisePg a:hover{
	color:#e59501;
	text-decoration:underline;
}
